{% extends "network/layout.html" %}

{% block body %}
    <p></p>
    <h1>Following</h1>
    
    <p></p>
    <!-- Test Prints only
    isfollowing -> {{ isfollowing }}
    <p></p>
    user_logged_in -> {{ user_logged_in }}
    <p></p>
    isfollowingids -> {{ isfollowingids }}
    -->

    <!-- Dislaying all posts, one by one, unless there is none -->
    {% for post in page_obj %}
    <div class="subdiv">
        <b>Posted by:</b> <a href="{% url 'profile_page' post.userid.username %}">{{ post.userid.username }}</a>
        <br>
        <b>Post:</b> {{ post.post }}
        <br>
        <b>Date:</b> {{ post.datetime.date }}
        <br>
        <b>Time:</b> {{ post.datetime.time }}
        <br>
        <b>Likes:</b> {{ post.likes }}
        <br>
        Comment
        <br>
    </div>
    <p></p>
    {% empty %}
        We haven't found any post in your "Following list".
        <p></p>
    {% endfor %}

    <!-- Paginator from https://docs.djangoproject.com/en/4.0/topics/pagination/ -->
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    

{% endblock %}