{% extends "network/layout.html" %}

{% block body %}
    <p></p>
    <h1>All Posts</h1>
    <!-- Checking (as in layout) if user is logged in -->
    {% if user.is_authenticated %}
    <!-- If so, show form to post -->
    <div class="subdiv">
        <h3>New Post</h3>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" name="posted" rows="3" required></textarea >
            <p></p>
            <button type="submit" class="btn btn-primary mb-2">Post</button>
        </form>

    </div>
    <!-- If not, we don´t give the possibility to post anything-->
    {% else %}
    <div>
        You must <a href="{% url 'login' %}">Log In</a> in order to post!
    </div>
    {% endif %}
    <p></p>

    <!-- Was there a new post? 
        Check print only :)
    POSTED: {{ posted }} // User = {{ user.id }}
    -->

    <p></p>

    <!-- Dislaying all posts, one by one, unless there is none -->
    {% for post in posts %}
    <div class="subdiv">
        <b>Posted by:</b> <a href="{% url 'profile_page' post.userid.username %}">{{ post.userid.username }}</a>
        <br>
        <b>Post:</b> {{ post.post }}
        <br>
        <b>Date:</b> {{ post.datetime.date }}
        <br>
        <b>Time:</b> {{ post.datetime.time }}
        <br>
        <b>Likes:</b> {{ post.likes }}
        <br>
        Comment
        <br>
    </div>
    <p></p>
    {% empty %}
        We haven't found any post!
    {% endfor %}
    

{% endblock %}