{% extends "network/layout.html" %}

{% block body %}
    <p></p>
    <h1>All Posts</h1>
    <!-- Checking (as in layout) if user is logged in -->
    {% if user.is_authenticated %}
    <!-- If so, show form to post -->
    <div class="subdiv">
        <h3>New Post</h3>
        <form action="{% url 'index' %}" method="post" >
            {% csrf_token %}
            <textarea class="form-control" name="posted" rows="3" required></textarea >
            <p></p>
            <button type="submit" class="btn btn-dark mb-2">Post</button>
        </form>

    </div>
    <!-- If not, we don´t give the possibility to post anything-->
    {% else %}
    <div>
        You must <a href="{% url 'login' %}">Log In</a> in order to post!
    </div>
    {% endif %}
    <p></p>

    <!-- Was there a new post? 
        Check print only :)
    POSTED: {{ posted }} // User = {{ user.id }}
    -->

    <p></p>

    <!-- Dislaying all posts, one by one, unless there is none -->
    {% for post in page_obj %}
    <!-- DIV for post -->
    <div id="{{post.id}}" class="subdiv">
        <b>Posted by:</b> <a href="{% url 'profile_page' post.userid.username %}">{{ post.userid.username }}</a>
        on {{ post.datetime.date }}
        at {{ post.datetime.time }}.
        <!-- Test of putting id to post so we can modify it later wiht its id-->
        <br>
        <b>Post:</b>
        <div id="post{{post.id}}">{{ post.post }}</div>
        <b>Likes:</b > 
        <div id="likecount{{post.id}}">{{ post.likes }}</div>

        <!-- TEST PRINT ONLY List of pstos liked by the user
        Posts liked by user: {{postslikedbyuser}}  -->
        
        <!-- If user doesn't LIKE the post, give option to like-->
        <!-- Else, give possibility to unlike -->
        {% if user.is_authenticated %}
            {% if post.id in postslikedbyuser %}
                <button id="buttonlike{{post.id}}" onclick="deletelike({{post.id}})" class="buttonedit btn btn-secondary mb-2">Unlike Post</button>
            {% else %}
                <button id="buttonlike{{post.id}}" onclick="addlike({{post.id}})" class="buttonedit btn btn-primary mb-2">Like Post</button>
            {% endif %}
        {% else %}
            <i>You must be <a href="{% url 'login' %}">logged in</a> to like or unlike posts.</i>
        {% endif %}
        <br>
        <!-- Test PRINT post id is {{ post.id }}
        <br> -->
        <!-- Give users the possibility to edit only THEIR POSTS passing in all data-->
        {% if post.userid.username == user.username %}
            <div>
                <button id="button{{post.id}}" onclick="editpost({{post.id}})" class="buttonedit btn btn-light mb-2">Edit post</button>
            </div>
        {% endif %}

    </div>

    <!-- TODO id for button  wo chgne its innerHTML -->

    <p></p>
    {% empty %}
        We haven't found any post, yet!
        <p></p>
    {% endfor %}

    <!-- Paginator from https://docs.djangoproject.com/en/4.0/topics/pagination/ -->
    <nav aria-label="Page navigation example">

        <div class="pagination justify-content-center pagination-lg">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </nav>

    <!-- Test paginator bootstrap -->
    
    

{% endblock %}