{% extends "network/layout.html" %}

{% block body %}
    
    <!-- Print Test only / post request
    POST request = {{ post_request }}
    -->
    <!-- Displaying users' data -->
    <h1>{{ username }}'s profile</h1>
    
    <!-- Dispalying data from Follower Model -->
    <b>Followers</b>: {{ amount_of_followers }}
    <br>
    <b>Following</b>: {{ amount_of_following }}
    <p></p>

    <!-- Print TEST ONLY -> User's data: {{ user_profiled }}
    <br> 
    TEST ONLY -> User Profile's = {{ user_profiled_id }}
    <br>
    Users currently logged in -> user_logged_in: {{ user_logged_in }}
    <p></p>
    -->

    <!-- If user is looking at his/her profile, no posisibility to follow or unfollow -->

    {% if username == user.username %}
        <i>This is your own profile, you cannot follow or unfollow yourself :)</i>
        <p>

        </p>
    <!-- Else, check if logged in user is following this user profile -->
    {% else %}

        <!-- Test print only 
        isfollowing -> {{ isfollowing}}
        -->
        <p></p>
        
        <!-- If no one is signed in, need to login - impossible to follow / unfollow -->
        {% if not user_logged_in %}
            You need to <a href="{% url 'login' %}">Log In</a> in order to follow or unfollow other users!
            <p></p>
        <!-- If user if following profile, allow to unfollow and POST the answer-->
        {% elif isfollowing == 1 %}

            <form action="{% url 'profile_page' username %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="unfollow">
                <button class="btn btn-danger mb-2">Unfollow</button>

            </form>

            <p></p>

        <!-- ELSE, if user if NOT following profile, allow to follow and POST the answer -->
        {% else %}
            <form action="{% url 'profile_page' username %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="follow">
                <button class="btn btn-primary mb-2">Follow</button>
            </form>
            <p></p>
        {% endif %}

    {% endif %}

    <!-- Display all of the posts for that user, in reverse chronological order -->
    <b>See all posts from <i>{{ username }}</i>:</b>
    <p></p>
    {% for post in page_obj %}
    <!-- DIV for post -->
    <div id="{{post.id}}" class="subdiv">
        <b>Posted by:</b> <a href="{% url 'profile_page' post.userid.username %}">{{ post.userid.username }}</a>
        on {{ post.datetime.date }}
        at {{ post.datetime.time }}.
        <!-- Test of putting id to post so we can modify it later wiht its id-->
        <br>
        <b>Post:</b>
        <div id="post{{post.id}}">{{ post.post }}</div>
        <b>Likes:</b > 
        <div id="likecount{{post.id}}">{{ post.likes }}</div>

        <!-- TEST PRINT ONLY List of pstos liked by the user
        Posts liked by user: {{postslikedbyuser}}  -->
        
        <!-- If user doesn't LIKE the post, give option to like-->
        <!-- Else, give possibility to unlike -->
        {% if user.is_authenticated %}
            {% if post.id in postslikedbyuser %}
                <button id="buttonlike{{post.id}}" onclick="deletelike({{post.id}})" class="buttonedit btn btn-secondary mb-2">Unlike Post</button>
            {% else %}
                <button id="buttonlike{{post.id}}" onclick="addlike({{post.id}})" class="buttonedit btn btn-primary mb-2">Like Post</button>
            {% endif %}
        {% else %}
            <i>You must be <a href="{% url 'login' %}">logged in</a> to like or unlike posts.</i>
        {% endif %}
        <br>
        <!-- Test PRINT post id is {{ post.id }}
        <br> -->
        <!-- Give users the possibility to edit only THEIR POSTS passing in all data-->
        {% if post.userid.username == user.username %}
            <div>
                <button id="button{{post.id}}" onclick="editpost({{post.id}})" class="buttonedit btn btn-light mb-2">Edit post</button>
            </div>
        {% endif %}

    </div>

    <!-- TODO id for button  wo chgne its innerHTML -->

    <p></p>
    {% empty %}
        We haven't found any post, yet!
        <p></p>
    {% endfor %}

    <!-- Paginator from https://docs.djangoproject.com/en/4.0/topics/pagination/ -->
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <!-- Check print for user id only <br>
    user_profiled_id -> {{ user_profiled_id }}
    -->
     

{% endblock %}