{% extends "network/layout.html" %}

{% block body %}
    
    <!-- Print Test only / post request
    POST request = {{ post_request }}
    -->
    <!-- Displaying users' data -->
    <h1>{{ username }}'s profile</h1>
    
    <!-- Dispalying data from Follower Model -->
    <b>Followers</b>: {{ amount_of_followers }}
    <br>
    <b>Following</b>: {{ amount_of_following }}
    <p></p>

    <!-- Print TEST ONLY -> User's data: {{ user_profiled }}
    <br> 
    TEST ONLY -> User Profile's = {{ user_profiled_id }}
    <br>
    Users currently logged in -> user_logged_in: {{ user_logged_in }}
    <p></p>
    -->

    <!-- If user is looking at his/her profile, no posisibility to follow or unfollow -->

    {% if username == user.username %}
        <i>This is your own profile, you cannot follow or unfollow yourself :)</i>
        <p>

        </p>
    <!-- Else, check if logged in user is following this user profile -->
    {% else %}

        <!-- Test print only 
        isfollowing -> {{ isfollowing}}
        -->
        <p></p>
        
        <!-- If no one is signed in, need to login - impossible to follow / unfollow -->
        {% if not user_logged_in %}
            You need to <a href="{% url 'login' %}">Log In</a> in order to follow or unfollow other users!
            <p></p>
        <!-- If user if following profile, allow to unfollow and POST the answer-->
        {% elif isfollowing == 1 %}

            <form action="{% url 'profile_page' username %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="unfollow">
                <button class="btn btn-danger mb-2">Unfollow</button>

            </form>

            <p></p>

        <!-- ELSE, if user if NOT following profile, allow to follow and POST the answer -->
        {% else %}
            <form action="{% url 'profile_page' username %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="follow">
                <button class="btn btn-primary mb-2">Follow</button>
            </form>
            <p></p>
        {% endif %}

    {% endif %}

    <!-- Display all of the posts for that user, in reverse chronological order -->
    <b>See all posts from <i>{{ username }}</i>:</b>
    <p></p>
    {% for user_post in page_obj %}
        <div class="subdiv">
            <b>Posted by:</b> <a href="{% url 'profile_page' user_post.userid.username %}">{{ user_post.userid.username }}</a>
            <br>
            <b>Post:</b> {{ user_post.post }}
            <br>
            <b>Date:</b> {{ user_post.datetime.date }}
            <br>
            <b>Time:</b> {{ user_post.datetime.time }}
            <br>
            <b>Likes:</b> {{ user_post.likes }}
            <br>
            Comment
            <br>
        </div>
        <p></p>
    <!-- If user hasn´t published yet, show message -->
    {% empty %}
        <i>{{ username }}</i> hasn't published any post, yet.
        <p></p>
    {% endfor %}

    <!-- Paginator from https://docs.djangoproject.com/en/4.0/topics/pagination/ -->
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <!-- Check print for user id only <br>
    user_profiled_id -> {{ user_profiled_id }}
    -->
     

{% endblock %}